@import url("reset.css");

body {
	width: 100%;
	height: 100%;
}

#fight-row {
	width: 100%;
	height: 70vh;
	border: 2px solid black;
	display: block;
	position: relative;

}

#player-arena {
	width: 50%;
	height: 60vh;
	float: left;
}

#enemy-arena {
	width: 50%;
	height: 60vh;
	float: left;	
}

.arena-attack, .arena-health {
	width: 50%;
}

.arena-attack {
	height: 5vh;
}

.arena-health {
	height: 5vh;
}

.arena-img img{
	max-height: 50vh;
	width: auto;
}

#message {
	clear: both;
	float: left;
	width: 100%;
	height: 10vh;
	text-align: center;
	border: 1px solid black;
}

#waiting-row {
	width: 100%;
	height: 25vh;
	border: 2px solid black;
	display: block;
	position: absolute;
	top: 70vh;
	align-content: center;

}

#button-row {
	width: 100%;
	height: 5vh;
	border: 2px solid black;
	display: block;
	position: absolute;
	top: 95vh;
}

.character {
	display: block;
	float: left;
	border: 2px solid black;
	width: 20%;
	height: 20vh;
	margin: 12px 10px 12px 10px;
	margin-left: 25px;
	text-align: center;
}

.character img {
	height: 15vh;
	width: auto;
}


button {
	width: 50%;
	float: left;
	height: 5vh;
}
